/ header
.header
  / menu
  .menu
    %ul
      %li
        %a{:href => "#speakers"} speakers
      %li
        %a{:href => "#cochairs"} co-chairs
      %li
        %a{:href => "#schedule"} schedule
      %li
        %a{:href => "#registration"} registration
      %li
        %a{:href => "#sponsors"} sponsors
      %li
        %a{:href => "#location"} location
  / menu ends!
  / header container
  .container
    / logo or main heading
    %h1
      %a{:href => "#"} U.S. Wrestling Foundation Gala
    / logo or main heading ends!
    / subtitle
    %p.subtitle
      Help Raise America's Greatest Generation
    %img{ src: asset_path('paralax-bg/uswf.png') }
    %img{ src: asset_path('usa-wrestling-logo-side-by-side.png') }
    %img.marines{ src: asset_path('uswf-gala-marine-announcement-badge.png') }
    / subtitle ends!
    / when
    .when
      .icon-holder
        %i.fa.fa-calendar
      %div
        %p
          %strong When
        %p
          %span June 9th 2016
          = succeed "Starting" do
            %br/
          at 5pm PST
    / when ends!
    / where
    .where
      .icon-holder
        %i.fa.fa-map-marker
      %div
        %p
          %strong Where
        %p
          %span Los Angeles, CA
          %br/
          %a{:href => "#"} LA Center Studios (map)
    / where ends!
    / register
    .register-now
      %p Buy your tickets now
      %a.button{:href => "#registration"} Register

    .copyright
      ="Image &copy; John Sachs - Tech-fall.com".html_safe
    / register ends!
  / header container ends!
/ header ends!
