/ header
.header
  / menu
  .menu
    %ul
      %li
        %a{:href => "#speakers"} speakers
      %li
        %a{:href => "#schedule"} schedule
      %li
        %a{:href => "#registration"} registration
      %li
        %a{:href => "#sponsors"} sponsors
      %li
        %a{:href => "#location"} location
      %li
        %a.open-contact-form{:href => "#contact"} contact us
  / menu ends!
  / header container
  .container
    / logo or main heading
    %h1
      %a{:href => "#"} Olympic Wrestling Gala
    / logo or main heading ends!
    / subtitle
    %p.subtitle
      Presented by the US Wrestling Foundation
    / subtitle ends!
    / when
    .when
      .icon-holder
        %i.fa.fa-calendar
      %div
        %p
          %strong When
        %p
          %span June 9th 2016
          = succeed "Starting" do
            %br/
          at 5pm PST
    / when ends!
    / where
    .where
      .icon-holder
        %i.fa.fa-map-marker
      %div
        %p
          %strong Where
        %p
          %span Los Angeles, CA
          %br/
          %a{:href => "#"} LA Center Studios (map)
    / where ends!
    / register
    .register-now
      %p Now Accepting Sponsors
      %a.button{:href => "#registration"} Become a Sponsor
    / register ends!
  / header container ends!
/ header ends!
