/ header
.header
  / menu
  .menu
    %ul
      %li
        %a{:href => "#speakers"} speakers
      %li
        %a{:href => "#scheadule"} scheadule
      %li
        %a{:href => "#registration"} registration
      %li
        %a{:href => "#sponsors"} sponsors
      %li
        %a{:href => "#location"} location
      %li
        %a.open-contact-form{:href => "#contact"} contact us
  / menu ends!
  / header container
  .container
    / logo or main heading
    %h1
      %a{:href => "#"} The Annual Conference 2015
    / logo or main heading ends!
    / subtitle
    %p.subtitle
      1 track, 3 conference days, 4 workshops, 10 excellent speakers and
      = succeed "." do
        %strong
          %a{:href => "#"} just 300 available seats
    / subtitle ends!
    / when
    .when
      .icon-holder
        %i.fa.fa-calendar
      %div
        %p
          %strong When
        %p
          %span (TBD) October 2015
          = succeed "Starting" do
            %br/
          at (TBD)
    / when ends!
    / where
    .where
      .icon-holder
        %i.fa.fa-map-marker
      %div
        %p
          %strong Where
        %p
          %span London
          %br/
          %a{:href => "#"} Awesome Venue Name
    / where ends!
    / register
    .register-now
      %p Tickets are on sale now, get 10% off till November 1st!
      %a.button{:href => "#registration"} Register Now
    / register ends!
  / header container ends!
/ header ends!