%h3
  Biography
.bio-header
  .round-image
    %img{ src: image_path('steve-fraser-headshot.JPG'), height: '170%', top: '-10px' }
  .name
    Steve Fraser 
  .title
    Chief of Donor &amp; Alumni Relations 

%p USA Wrestling, Colorado Springs, Colorado 
%p Steve Fraser of Colorado Springs, Colo., joined USA Wrestling in October of 1995. He served as  USA Wrestling&rsquo;s National Greco-Roman Coach for more than 18 years and has been a key leader  in building the U.S. Greco-Roman international program.    Beginning in March 2014, Fraser assumed the newly created position of Chief of Donor and  Alumni Relations. Fraser will head the National Teams fundraising efforts to increase  opportunities for U.S. athletes in all three styles of wrestling. Fraser led the United States to its first-ever World Team Title in Greco-Roman wrestling in Baku,  Azerbaijan in 2007, defeating powerhouse Russia by one team point. The team featured three  individual medalists, silver medalist Brad Vering and bronze medalists Harry Lester and Dremiel  Byers.
%p Two other times, the USA placed third in the World Championships under Fraser, which were the  best finish in history at that time.
%p At the 2001 World Championships, the United States placed third, the first time a U.S. Greco- Roman team won a team medal at a World Championship. The 2001 squad had a World  Champion in Rulon Gardner and silver medalists Brandon Paulson and Matt Lindland. Fraser also  led the U.S. to a third-place finish at the 2006 World Championships with Joe Warren winning a  World gold medal, and Lindsey Durlacher and Harry Lester each winning bronze medals.  At the 2000 Olympic Games, the U.S. team won one gold, one silver and one bronze medal.  Gardner stunned the world with his win over unbeaten Russian Alexander Kareline. Gardner also  won a bronze medal at the 2004 Olympic Games.
%p Fraser won a gold medal at 90 kg (198 lbs.) at the 1984 Olympics in Los Angeles, becoming the  first U.S. wrestler to ever win an Olympic gold medal in Greco-Roman wrestling. He also won a gold medal at the 1983 Pan American Games. Fraser was a member of the 1979  and 1982 U.S. World Teams. He claimed U.S. Nationals titles in Greco-Roman in 1981 and 1983,  and was a U.S. Nationals freestyle champion in 1984.
%p Fraser was inducted into the National Wrestling Hall of Fame in 1994. He was named USA  Wrestling Athlete of the Year in 1984, and was a finalist for the James E. Sullivan Award that  year. He has been inducted into the Michigan Wrestling Hall of Fame and the Michigan Amateur  Sports Hall of Fame.
%p He attended the Univ. of Michigan, where he was a two-time NCAA All-American. Fraser  received a bachelor&rsquo;s degree in physical education in 1980. He was a Michigan state high school  champion at Hazel Park High School.
%p Fraser was an assistant coach at the Univ. of Michigan from 1980-87, and at Eastern Michigan  Univ. from 1987-1993. He also coached with the Michigan Wrestling Club for 10 years.