#about
  %h3 
    About Us
  
  %p
    USA Wrestling is the National Governing Body for the Sport of Wrestling in the United States and, as such, is its representative to the United States Olympic Committee. Simply, USA Wrestling is the central organization that coordinates amateur wrestling programs in the nation and works to create interest and participation in these programs. 

  %p
    USA Wrestling has more than 160,000 members. These members include athletes of all ages, coaches, officials, parents and fans striving together to strengthen the sport. Each year, USA Wrestling charters over 3000 wrestling clubs and sanctions over 1600 local, state, regional and national competitions.

  %p
    Mission: USA Wrestling, guided by the Olympic Spirit, provides quality opportunities for its members to achieve their full human and athletic potential.

  %p
    Vision: USA Wrestling will strive to be the worlds best sports organization.

  %p
    Values
  %ul
    %li
      Responsibility - Fulfilling all functions, tasks, duties and assignments with trust and credibility on behalf of USA Wrestling by honoring promises and pledges.

    %li
      Integrity - Being true to self and the mission of USA Wrestling, while discerning right from wrong and acting on it.

    %li
      Dedication - Dedication to carrying out the mission and goals of USA Wrestling with the highest degree of sacrifice and discipline.

    %li
      Honesty - Being truthful and upright with people and issues in furthering the mission of USA Wrestling.

    %li
      Accountability - Providing answers and reasons to others for actions and behaviors intended to support the mission of USA Wrestling.

    %li
      Respect - Recognizing the absolute dignity in every human being, with a sense of compassion, caring and concern for the well-being of other people.