.topics
  .container
    %h3
      %strong HELP RAISE AMERICA'S GREATEST GENERATION
    %p
      Disciplined. Courageous. Hard working.
    %div
      %i.fa.fa-trophy.fa-2x
      %h4 Rising to any challenge
      %p Persevering in every circumstance.
      %p Refined in the fire. 
      %p Resilient in defeat. 
      %p Humble in victory. 
      %p Fighting to the last whistle.
    %div
      %i.fa.fa-graduation-cap.fa-2x
      %h4 Our next great leaders.
      %p Our titans of industry. 
      %p Our mighty warriors. 
      %p Our teachers. 
      %p Our sons and daughters. 
      %p Champions in life.
%a#speakers.anchor
.speakers
  .container
    %h2 Speakers and Honored Guests
    %p.subtitle All-Star Lineup
    .single
      %img{src: asset_url('speakers/randy-couture.jpg') }
      %div
        %h3
          Randy
          %br
          Couture
        %p
          %strong Three-time UFC Heavyweight Champion
        %p American actor, retired mixed martial artist and former collegiate and Greco-Roman wrestler.
    .single
      %img{src: asset_url('speakers/brian-stann.jpg') }
      %div
        %h3
          Brian
          %br
          Stann
        %p
          %strong U.S. Marine, UFC Commentator, CEO Hire Heroes USA
        %p Awarded the Silver Star for valor in combat.  WEC Light Heavyweight Champion and UFC Commentator.
    .single
      %img{src: asset_url('speakers/anthony-robles.jpg') }
      %div
        %h3
          Anthony
          %br
          Robles
        %p
          %strong INSPIRATIONAL WRESTLER, NCAA CHAMPION
        %p Born with only one leg, Anthony overcame adversity to reach the pinnacle of college wrestling, finishing 36-0 as a senior and winning the NCAA championship.
    .single
      %img{src: asset_url('speakers/dan-cormier.jpg') }
      %div
        %h3
          Dan
          %br
          Cormier
        %p
          %strong Olympic Wrestler, UFC Light Heavyweight Champion
        %p Daniel won three high school state wrestling championships. Wrestled for Oklahoma State, 7x freestyle national champion, 2x Olympian.
    .single
      %img{src: asset_url('speakers/joe-warren.jpg') }
      %div
        %h3
          Joe
          %br
          Warren
        %p
          %strong The Baddest Man On The Planet
        %p World Champion Greco-Roman wrestler.  Earned two titles in Bellator as Bantam and Featherweight Champion.  2X NCAA All-American at University of Michigan.
    .single
      %img{src: asset_url('speakers/michael-trucco.jpg') }
      %div
        %h3
          Michael
          %br
          Trucco
        %p
          %strong Actor
        %p Starred in television and movies including How I Met Your Mother, Battlestar Gallactica and Next with Nicholas Cage.
    .single
      %img{src: asset_url('speakers/steve-fraser.jpg') }
      %div
        %h3
          Steve
          %br
          Fraser
        %p
          %strong Olympic Gold Medalist
        %p Coach of the US Greco Roman team since 1997
    .single
      %img{src: asset_url('speakers/dan-henderson.jpg') }
      %div
        %h3
          Dan
          %br
          Henderson
        %p
          %strong Strikeforce Light Heavyweight Champion
        %p Only mixed martial artist to concurrently hold two titles in two different weight classes in a major MMA promotion.
    .single
      %img{src: asset_url('speakers/kurt-angle.jpg') }
      %div
        %h3
          Kurt
          %br
          Angle
        %p
          %strong Olympic gold medalist, professional wrestler
        %p Named the greatest shoot wrestler ever in 2006, and top 15 college wrestlers of all time by USA Wrestling.
    .single
      %img{src: asset_url('speakers/rulon-gardner.jpg') }
      %div
        %h3
          Rulon
          %br
          Gardner
        %p
          %strong Olympic Gold Medalist
        %p First Olympic gold medal won by an American Greco-Roman wrestler in a full international field.
    .single
      %img{src: asset_url('speakers/holding-bennett-miller.jpg') }
      %div
        %h3
          Bennett
          %br
          Miller
        %p
          %strong 2X Academy Award Nominee for Best Director
        %p Directed critically acclaimed movies Foxcatcher, Moneyball and Capote.
    .single
      %img{src: asset_url('speakers/ben-reed.jpg') }
      %div
        %h3
          Ben
          %br
          Reed
        %p
          %strong Actor
        %p Starred in American Sniper, Face/Off and appeared in hit TV shows from Seinfeld, to the X-files. Former Quarterback at West Virginia University.
    .single
      %img{src: asset_url('speakers/mike-reiss.jpg') }
      %div
        %h3
          Mike
          %br
          Reiss
        %p
          %strong Writer/Producer of the Simpsons
        %p
          Won four Emmys and a Peabody Award during his 25 years writing for the Simpsons. Co-wrote the Simpsons Movie and Ice Age 3.
    .single
      %img{src: asset_url('speakers/adeline-gray.jpg') }
      %div
        %h3
          Adeline
          %br
          Gray
        %p
          %strong 3X WORLD CHAMPION
        %p
          Adeline is ranked #1 in the world in Women’s Freestyle wrestling and is on a 37-match winning streak going into the Olympic Games in Rio.
%a#cochairs.anchor
.speakers
  .container
    %h2 #EveryoneWrestles
    %p.subtitle We all go through challenges in life.  Wrestling prepares us for the battle.  
    %p Join us for an inspirational evening with the toughest people on the planet - our heroes from the military, MMA champions, stars from movies and entertainment, our Olympic and wrestling greats, and some very special guests.  
    %p We'll be sending off Team USA, as they compete in the World Cup, their last competition before the Olympic Games in Rio.  
    %p Help us grow the sport that makes champions in life.
    %p
      %strong With you on our team, we can't lose. 
%a#cochairs.anchor
.speakers
  .container
    %h2 Co-Chairs
.cochairs.clearfix
  .container
    #pattern.pattern
      %ul.list.img-list
        %li
          .li-text
            %h4.li-head Chuck Africano
            %p.li-sub Army Veteran
        %li
          .li-text
            %h4.li-head John Bardis
            %p.li-sub Founder, Med Assets and Founder & Chairman of Hire Heroes USA
        %li
          .li-text
            %h4.li-head Rich Bender
            %p.li-sub Executive Director, USA Wrestling
        %li
          .li-text
            %h4.li-head Randy Couture
            %p.li-sub UFC World Champion
        %li
          .li-text
            %h4.li-head Dr. David Curby
            %p.li-sub Executive Director, Beat the Streets-Chicago and Director of International Network of Wrestling Researchers
        %li
          .li-text
            %h4.li-head Steve Fraser
            %p.li-sub Olympic Champion, Chief of Alumni and Donor Relations, USA Wrestling
        %li
          .li-text
            %h4.li-head John Galt
            %p.li-sub Managing Principal, Whitehorse Technolgies and Founding Board Member, Seal-NSW Family Foundation
        %li
          .li-text
            %h4.li-head Rulon Gardner
            %p.li-sub Olympic and World Champion
        %li
          .li-text
            %h4.li-head Michael Liberty
            %p.li-sub Founder, Mozido
        %li
          .li-text
            %h4.li-head Charles Poliquin
            %p.li-sub World Renowned Strength Coach
        %li
          .li-text
            %h4.li-head James Ravannack
            %p.li-sub President, USA Wrestling
        %li
          .li-text
            %h4.li-head Dan Russell
            %p.li-sub 4x NCAA DII Champion
            %p.li-sub President, Battleground.TV
        %li
          .li-text
            %h4.li-head Nancy Schultz Vitangeli
            %p.li-sub Partner, Rudis Sports Apparel
        %li
          .li-text
            %h4.li-head Jeff Waters
            %p.li-sub Chairman, U.S. Wrestling Foundation
        %li
          .li-text
            %h4.li-head Chris Ursitti
            %p.li-sub Owner, LA Center Studios
        %li
          .li-text
            %h4.li-head Kevin Hummer
            %p.li-sub Vice Chairman, U.S. Wrestling Foundation, Air Force Veteran and CEO, RJ Promotions
%a#schedule.anchor
.schedule
  .container
    %h2 Event Schedule
    %p.subtitle Meet the Stars
    .tabs
      #tabs-1.day
        .event
          .event-time
            5:00-6:00
            %span
          .event-info
            %div
              %h4 VIP Reception
              %p Table hosts and sponsors are invited to a private green room reception to meet our honored guests.
        .event
          .event-time
            6:00-7:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4 General Reception
              %p Join us for cocktails, appetizers and walk the red carpet to meet our honored guests.
        .event
          .event-time
            7:00-9:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4 Evening Program
              %p Enjoy dinner and entertainment with emcee Randy Couture and keynote speakers Brian Stann and Anthony Robles.
              %p This will be a festive evening, business attire suggested.
%a#registration.anchor
.registration
  .container
    %h2 Registration
    %p.subtitle
      %strong
      Get Your Tickets early.
    .form
      %a{target:'_new', class: 'button large', href: "https://secure3.4agoodcause.com/us-wrestling-foundation/register.aspx?eventid=5" }
        Register
      .donate
        %p
          Can't attend, but want to support the team?
        %a{target:'_new', class: 'button large', href: "https://secure3.4agoodcause.com/us-wrestling-foundation/gift.aspx?id=1" }
          Donate
    .price
      %div
        %p.amount $600
        %h4 Individual Tickets
        %ul
          %li Admission and seating for one
      %div
        %p.amount $5k
        %h4 Table
        %ul
          %li Listed as “Table Sponsor” in the printed program
          %li One premier table for ten
%a#sponsors.anchor
.sponsors
  .container
    %h2 Sponsors
    %p.subtitle
      %i.fa.fa-phone
      %a{:href => "tel: 412-378-4509"} 412-378-4509
      Call or Email Today!
    .form
      %a{ href: "mailto:fmmalick@aol.com", class: 'button large' }
        %i.fa.fa-envelope-o
        Contact Us
    .price
      %div
        %p.amount $150k
        %h4
          Title Sponsor
        %p As the Title Sponsor you can customize your marketing efforts and participate in a series of once in a lifetime experiences and promotions including having your company banner parachuted into the Gala.
      %div
        %p.amount $100k
        %h4 Platinum Level
        %ul
          %li Special Operations Adventure for 6
          %li Invitation for you and your guests to the VIP Reception
          %li Two premier tables for ten with four honored guests
          %li Company listed as "Presenting Sponsor"
      %div
        %p.amount $50k
        %h4 Gold Level
        %ul
          %li Ceremonial Wrestling Gift for all your guests
          %li Invitation for you and your guests to the VIP Reception
          %li One premier table for ten with two honored guests
          %li Company listed as “Gold Sponsor”
      %div
        %p.amount $25k
        %h4 Silver Level
        %ul
          %li Invitation for you and your guests to the VIP Reception
          %li One premier table for ten with one honored guests
          %li Company listed as "Silver Sponsor"
      %div
        %p.amount $10k
        %h4 Bronze Level
        %ul
          %li Invitation for you and your guests to the VIP Reception
          %li One premier table for ten
          %li Company listed as “Bronze Sponsor”

%a#location.anchor
.location
  .container
    %h2 Location and Venue
    %p.subtitle This is where movies are made.
    .info
      .maps
        .images
        #map_canvas
      .address
        %h4 U.S. Wrestling Foundation Gala – June 9, 2016
        %p One night only at LA Center Studios in downtown Los Angeles. #{link_to 'This is where the movies are made', 'https://www.youtube.com/watch?v=pswsQxF-Ehk'}
        %h5
          %i.fa.fa-chevron-right
          LA Center Studios
        .venue
          %p
            %span LA Center Studios
          %p 450 S Bixel St,
          %p Los Angeles, CA 90017
        %h4 Watch Team USA vs. the World – June 11-12, 2016
        %p Catch the men’s freestyle team in action before they go to Rio.
        %h5
          %i.fa.fa-chevron-right
          2016 Wrestling World Cup
        .venue
          %p
            %span The Forum
          %p 3900 W. Manchester Blvd
          %p Inglewood, CA 90305
          %form
            %br
            %p
              %a{target:'_new', class: 'button large', href: "http://www.ticketmaster.com/venueartist/73750/1963080?brand=theforum&camefrom=THEFORUM_MFW" }
                World Cup Tickets
            %br
            %p
              %a{target:'_new', class: 'button large', href: "http://www.wrestlingworldcup.com/eventschedule" }
                World Cup Schedule


.footer
  .container
    %p
      Copyright 2016
.back
.container
  %a{:href => "#top"}
    %i.fa.fa-angle-up.fa-3x
.overlay{:style => "display: none;"}
