.topics
  .container
    %h3
      %strong CELEBRATE TEAM USA IN THEIR QUEST FOR OLYMPIC GOLD
    %p
      Event proceeds benefit the U.S. Wrestling Foundation
    %div
      %i.fa.fa-code.fa-2x
      %h4 SUPPORT
      %p Wrestling instills the values of courage hard work, discipline, perseverance and humility. It forges character that lasts a lifetime.
    %div
      %i.fa.fa-line-chart.fa-2x
      %h4 ORGANIZATION
      %p
        U.S. Wrestling Foundation supports the growth of wrestling at all levels through the missions of USA Wrestling, the National Wrestling Coaches Association and the National Wrestling Hall of Fame. USWF is a 501(c)3 non-profit organization. Tax ID # 37-1698099.
    %div
      %i.fa.fa-lightbulb-o.fa-2x
      %h4 Non-Profit
      %p USWF is a 501(c)3 non-profit organization. All proceeds benefit the U.S. Wrestling Foundation.
%a#speakers.anchor
.speakers
  .container
    %h2 The Speakers
    %p.subtitle Olimpians & World Champions

    .single
      %img{src: asset_url('speakers/randy-couture.jpg') }
      %div
        %h3
          Randy
          %br
          Couture
        %p
          %strong Three-time UFC Heavyweight Champion
        %p American actor, retired mixed martial artist and former collegiate and Greco-Roman wrestler.
        %p
          %a{:href => "#"}
            %i.fa.fa-twitter.fa-lg
          %a{:href => "#"}
            %i.fa.fa-linkedin.fa-lg
    .single
      %img{src: asset_url('speakers/steve-fraser.jpg') }
      %div
        %h3
          Steve
          %br
          Fraser
        %p
          %strong Olympic Gold Medalist
        %p Coach of the US Greco Roman team since 1997
    .single
      %img{src: asset_url('speakers/dan-henderson.jpg') }
      %div
        %h3
          Dan
          %br
          Henderson
        %p
          %strong Strikeforce Light Heavyweight Champion
        %p Only mixed martial artist to concurrently hold two titles in two different weight classes in a major MMA promotion.
    .single
      %img{src: asset_url('speakers/kurt-angle.jpg') }
      %div
        %h3
          Kurt
          %br
          Angle
        %p
          %strong Olympic gold medalist, professional wrestler
        %p Named the greatest shoot wrestler ever in 2006, and top 15 college wrestlers of all time by USA Wrestling.
    .single
      %img{src: asset_url('speakers/rulon-gardner.jpg') }
      %div
        %h3
          Rulon
          %br
          Gardner
        %p
          %strong Olympic Gold Medalist
        %p First Olympic gold medal won by an American Greco-Roman wrestler in a full international field.
%a#schedule.anchor
.schedule
  .container
    %h2 Conference Schedule
    %p.subtitle packed with high quality content, just for you.
    .tabs
      -#%ul
      -#  %li
      -#    %a{:href => "#tabs-1"} One Day Only
      #tabs-1.day
        .event
          .event-time
            17:00
            %span
          .event-info
            %div
              %h4 Doors Open
        .event.extend
          .event-time
            17:00-18:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} VIP Reception
              %p.speaker
                %strong Meet and Greet
                = succeed "Something" do
                  %br
                Something something
              %p
                Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
        .event.extend
          .event-time
            18:00-19:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4
                %a{:href => "#"} General Reception
              %p.speaker
                %strong Meet and Greet
                = succeed "Something" do
                  %br
                Something something
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla. Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p
                Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus
                = succeed "." do
                  %a{:href => "#"}
                    %i.fa.fa-anchor
                    lorem vel interdum volutpat
                Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
              %p Nunc commodo tellus diam, sed molestie quam fermentum varius. Etiam finibus lorem vel interdum volutpat. Suspendisse potenti. Duis non sem nisi. Phasellus iaculis placerat neque id fringilla.
.why
  .container
    .bullets
      %h3 Why is this conference for you?
      %div
        %h4
          %i.fa.fa-check
            You Support Wrestling
        %p U.S. Wrestling Foundation supports the growth of wrestling at all levels through the missions of USA Wrestling.
      %div
        %h4
          %i.fa.fa-check
          You Seek Networking Opportunities
        %p Meet and greet true titans of the wrestling world. Listen to their stories, and rub elbows with the greats.
      %div
        %h4
          %i.fa.fa-check
          You Beleive That Wrestling Builds Champions in Life
        %p Wrestling instills the values of courage hard work, discipline, perseverance and humility. It forges character that lasts a lifetime.

      %div
        %h4
          %i.fa.fa-check
          Strengthen Your Skills
        %p Quisque gravida libero sodales augue luctus elementum. In tristique faucibus diam, sit amet ultrices erat porttitor ut. Phasellus sit amet lorem sit amet orci lobortis mattis. Nulla venenatis, quam vitae pellentesque sollicitudin, erat enim varius nisl, sed porta augue mi et dui.
%a#registration.anchor
.registration
  .container
    %h2 Registration
    %p.subtitle
      %strong
      Get Your Tickets early.
    .form
      %form{:action => "https://secure3.4agoodcause.com/us-wrestling-foundation/gift.aspx?id=1", :method => "get"}
        %button{:name => "submit", :type => "submit"} Register
    .price
      %div
        %p.amount $150k
        %h4
          Title Sponsor
        %p This exclusive opportunity to be named the Title Sponsor of this prestigious event offers the Sponsor the opportunity to customize their marketing efforts and to participate in a series of once in a lifetime experiences.
      %div
        %p.amount $100k
        %h4 Platinum Level
        %ul
          %li Company Banner parachuted into the Gala.
          %li Special Operations Adventure and Executive Bonding Package for 6.
          %li Ceremonial Wrestling Gift for all your guests
          %li VIP Concierge before and at the Dinner Gala
      %div
        %p.amount $50k
        %h4 Gold Level
        %ul
          %li Ceremonial Wrestling Gift for all your guests
          %li VIP Concierge before and at the Dinner Gala
          %li On site Valet Parking for all guests
          %li Invitation for you and your guests to the Pre-Event Reception
      %div
        %p.amount $25k
        %h4 Silver Level
        %ul
          %li Receive recognition through on site marketing at event.
          %li Dedicated table side server during dinner.
          %li Company listed as “Silver Sponsor” in the printed program.
          %li One premier table for ten with two honored guest.
      %div
        %p.amount $10k
        %h4 Bronze Level
        %ul
          %li Company listed as “Bronze Sponsor” in the printed program
          %li One premier table for ten with two honored guests
      %div
        %p.amount $5k
        %h4 Table
        %ul
          %li Company listed as “Table Sponsor” in the printed program
          %li One premier table for ten
      %div
        %p.amount $600
        %h4 Individual Tickets
        %ul
          %li Admission and seating for one
%a#sponsors.anchor
.sponsors
  .container
    %h2 Sponsors & Partners
    %p.subtitle
      Interested in becoming a sponsor?
      %a.open-contact-form{:href => "#"} Get in touch
    .slides
      %ul
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
        %li
          %a{:href => "#"}
%a#location.anchor
.location
  .container
    %h2 Location and Venue
    %p.subtitle area full of great hotels and restaurants.
    .info
      .maps
        .images
        #map_canvas
      .address
        %h4 One day only at the beautiful LA Center Studios in Downtown Los Angeles
        %h5
          %i.fa.fa-chevron-right
          LA Center Studios
        .venue
          %p
            %span LA Center Studios
          %p 450 S Bixel St,
          %p Los Angeles, CA 90017
.social
  .container
    %div
      %h2 Keep me informed
      %p.subtitle Signup to our newsletter or connect via social networks
      %form{:action => "", :method => "post"}
        %button{:name => "submit", :type => "submit"}
          %i.fa.fa-arrow-circle-right
      %a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-google-plus
      %a{:href => "#"}
        %i.fa.fa-linkedin
.footer
  .container
    %p
      Copyright 2014
.back
.container
  %a{:href => "#top"}
    %i.fa.fa-angle-up.fa-3x
.overlay{:style => "display: none;"}
