.topics
  .container
    %h3
      %strong CELEBRATE TEAM USA IN THEIR QUEST FOR OLYMPIC GOLD
    %p
      Join us and a star-studded lineup to help grow the Olympic wrestling movement and establish American dominance in international wrestling.
    %div
      %i.fa.fa-trophy.fa-2x
      %h4 Champions in Life
      %p Wrestling instills the values of courage hard work, discipline, perseverance and humility. It forges character that lasts a lifetime.  Help us grow the sport that turns young men and women into champions in life.
    %div
      %i.fa.fa-line-chart.fa-2x
      %h4 Organization
      %p
        U.S. Wrestling Foundation supports the growth of wrestling at all levels through the missions of USA Wrestling, the National Wrestling Coaches Association and the National Wrestling Hall of Fame. With you on our team, we can't lose.
    %div
      %i.fa.fa-graduation-cap.fa-2x
      %h4 Non-Profit
      %p U.S. Wrestling Foundation is an IRS approved 501(c)3 non-profit charitable organization. Tax ID# 37-1698099

%a#speakers.anchor
.speakers
  .container
    %h2 Speakers and Honored Guests
    %p.subtitle All-Star Lineup

    .single
      %img{src: asset_url('speakers/randy-couture.jpg') }
      %div
        %h3
          Randy
          %br
          Couture
        %p
          %strong Three-time UFC Heavyweight Champion
        %p American actor, retired mixed martial artist and former collegiate and Greco-Roman wrestler.
    .single
      %img{src: asset_url('speakers/steve-fraser.jpg') }
      %div
        %h3
          Steve
          %br
          Fraser
        %p
          %strong Olympic Gold Medalist
        %p Coach of the US Greco Roman team since 1997
    .single
      %img{src: asset_url('speakers/dan-henderson.jpg') }
      %div
        %h3
          Dan
          %br
          Henderson
        %p
          %strong Strikeforce Light Heavyweight Champion
        %p Only mixed martial artist to concurrently hold two titles in two different weight classes in a major MMA promotion.
    .single
      %img{src: asset_url('speakers/kurt-angle.jpg') }
      %div
        %h3
          Kurt
          %br
          Angle
        %p
          %strong Olympic gold medalist, professional wrestler
        %p Named the greatest shoot wrestler ever in 2006, and top 15 college wrestlers of all time by USA Wrestling.
    .single
      %img{src: asset_url('speakers/rulon-gardner.jpg') }
      %div
        %h3
          Rulon
          %br
          Gardner
        %p
          %strong Olympic Gold Medalist
        %p First Olympic gold medal won by an American Greco-Roman wrestler in a full international field.
    .single
      %img{src: asset_url('speakers/holding-bennett-miller.jpg') }
      %div
        %h3
          Bennett
          %br
          Miller
        %p
          %strong 2X Academy Award Nominee for Best Director
        %p Directed critically acclaimed movies Foxcatcher, Moneyball and Capote.

%a#cochairs.anchor
.speakers
  .container
    %h2 Co-Chairs
.cochairs.clearfix
  .container
    #pattern.pattern
      %ul.list.img-list
        %li
          .li-text
            %h4.li-head Chuck Africano
            %p.li-sub Army Veteran
        %li
          .li-text
            %h4.li-head John Bardis
            %p.li-sub Founder, Med Assets and Founder & Chairman of Hire Heroes USA
        %li
          .li-text
            %h4.li-head Rich Bender
            %p.li-sub Executive Director, USA Wrestling
        %li
          .li-text
            %h4.li-head Randy Couture
            %p.li-sub UFC World Champion
        %li
          .li-text
            %h4.li-head Dr. David Curby
            %p.li-sub Executive Director, Beat the Streets-Chicago and Director of International Network of Wrestling Researchers
        %li
          .li-text
            %h4.li-head Steve Fraser
            %p.li-sub Olympic Champion, Chief of Alumni and Donor Relations, USA Wrestling
        %li
          .li-text
            %h4.li-head John Galt
            %p.li-sub Managing Principal, Whitehorse Technolgies and Founding Board Member, Seal-NSW Family Foundation
        %li
          .li-text
            %h4.li-head Rulon Gardner
            %p.li-sub Olympic and World Champion
        %li
          .li-text
            %h4.li-head Michael Liberty
            %p.li-sub Founder, Mozido
        %li
          .li-text
            %h4.li-head Charles Poliquin
            %p.li-sub World Renowned Strength Coach
        %li
          .li-text
            %h4.li-head James Ravannack
            %p.li-sub President, USA Wrestling
        %li
          .li-text
            %h4.li-head Dan Russell
            %p.li-sub 4x NCAA DII Champion
            %p.li-sub President, Battleground.TV
        %li
          .li-text
            %h4.li-head Nancy Schultz Vitangeli
            %p.li-sub Partner, Rudis Sports Apparel
        %li
          .li-text
            %h4.li-head Jeff Waters
            %p.li-sub Chairman, U.S. Wrestling Foundation
        %li
          .li-text
            %h4.li-head Chris Ursitti
            %p.li-sub Owner, LA Center Studios
        %li
          .li-text
            %h4.li-head Kevin Hummer
            %p.li-sub Vice Chairman, U.S. Wrestling Foundation, Air Force Veteran and CEO, RJ Promotions
%a#schedule.anchor
.schedule
  .container
    %h2 Event Schedule
    %p.subtitle Meet the Stars
    .tabs
      #tabs-1.day
        .event
          .event-time
            5:00-6:00
            %span
          .event-info
            %div
              %h4 VIP Reception
        .event
          .event-time
            6:00-7:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4 General Reception
        .event
          .event-time
            7:00-9:00
            %span
              %i.fa.fa-angle-up
          .event-info
            %div
              %h4 Evening Program
%a#registration.anchor
.registration
  .container
    %h2 Registration
    %p.subtitle
      %strong
      Get Your Tickets early.
    .form
      %a{target:'_new', class: 'button large', href: "https://secure3.4agoodcause.com/us-wrestling-foundation/register.aspx?eventid=5" }
        Register
      .donate
        %p
          Can't attend, but want to support the team?
        %a{target:'_new', class: 'button large', href: "https://secure3.4agoodcause.com/us-wrestling-foundation/gift.aspx?id=1" }
          Donate
    .price
      %div
        %p.amount $600
        %h4 Individual Tickets
        %ul
          %li Admission and seating for one
      %div
        %p.amount $5k
        %h4 Table
        %ul
          %li Listed as “Table Sponsor” in the printed program
          %li One premier table for ten
%a#sponsors.anchor
.sponsors
  .container
    %h2 Sponsors
    %p.subtitle
      %i.fa.fa-phone
      %a{:href => "tel: 703-297-6351"} 703-297-6351
      Call or Email Today!
    .form
      %a{ href: "mailto:jack@uswrestlingfoundation.com", class: 'button large' }
        %i.fa.fa-envelope-o
        Contact Us
    .price
      %div
        %p.amount $150k
        %h4
          Title Sponsor
        %p This exclusive opportunity to be named the Title Sponsor of this prestigious event offers the Sponsor the opportunity to customize their marketing efforts and to participate in a series of once in a lifetime experiences.
      %div
        %p.amount $100k
        %h4 Platinum Level
        %ul
          %li Company Banner parachuted into the Gala.
          %li Special Operations Adventure for 6.
          %li Ceremonial Wrestling Gift for all your guests
          %li VIP Concierge before and at the Dinner Gala
      %div
        %p.amount $50k
        %h4 Gold Level
        %ul
          %li Ceremonial Wrestling Gift for all your guests
          %li VIP Concierge before and at the Dinner Gala
          %li On site Valet Parking for all guests
          %li Invite to the Pre-Event Reception
      %div
        %p.amount $25k
        %h4 Silver Level
        %ul
          %li Receive recognition via on-site marketing.
          %li Dedicated table side server during dinner.
          %li Listed as “Silver Sponsor” in the printed program.
      %div
        %p.amount $10k
        %h4 Bronze Level
        %ul
          %li Listed as “Bronze Sponsor” in the printed program
          %li One premier table for ten with two honored guests




%a#location.anchor
.location
  .container
    %h2 Location and Venue
    %p.subtitle area full of great hotels and restaurants.
    .info
      .maps
        .images
        #map_canvas
      .address
        %h4 One day only at the beautiful LA Center Studios in Downtown Los Angeles
        %h5
          %i.fa.fa-chevron-right
          LA Center Studios
        .venue
          %p
            %span LA Center Studios
          %p 450 S Bixel St,
          %p Los Angeles, CA 90017
.footer
  .container
    %p
      Copyright 2016
.back
.container
  %a{:href => "#top"}
    %i.fa.fa-angle-up.fa-3x
.overlay{:style => "display: none;"}
