#sponsors
  %h3
    Our Sponsors
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%; background-color: white;", :width => "100%"}
    %tbody{:style => "width: 100%;"}
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.asicsamerica.com/", :target => "_BLANK"}
              %img{:alt => "", :height => "50", :src => "http://content.themat.com/site_files/sponsorlogos/asics.jpg", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_1", :width => "134"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong ASICS America Corporation
            %br
              Sound Mind Sound Body ...Keep wrestling ASICS!
              %br
                %a{:href => "http://www.asicsamerica.com/", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.usawrestlingproducts.com/", :target => "_BLANK"}
              %img{:alt => "", :height => "40", :src => "http://content.themat.com/site_files/sponsorlogos/All-AmericanLogo.jpg", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_2", :width => "113"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong All-American Wrestling Supply
            %br
              All American Wrestling Supply is the Official Merchandiser for USA Wrestling. We handle the merchandising of all logoed merchandise through Catalog Sales, Consignments, Team Sales, and Event Sales.
              %br
                %a{:href => "http://www.usawrestlingproducts.com/", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.maximizedliving.com/home/findadoctor.aspx", :target => "_BLANK"}
              %img{:alt => "", :height => "35", :src => "http://content.themat.com/site_files/sponsorlogos/MaximizedLivingLogo.jpg", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_3", :width => "100"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong Maximized Living
            %br
              Join our worldwide mission to maximize the lives of millions of people through our health centers, chiropractic coaching, wellness programs, wellness products, and ministry foundation.
              %br
                %a{:href => "http://www.maximizedliving.com/home/findadoctor.aspx", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.hhonors.com/usawrestling", :target => "_BLANK"}
              %img{:alt => "", :height => "60", :src => "http://content.themat.com/site_files/sponsorlogos/2012hilton.jpg", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_4", :width => "73"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong Hilton Hotels
            %br
              %br
                %a{:href => "http://www.hhonors.com/usawrestling", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.med.nyu.edu/", :target => "_BLANK"}
              %img{:alt => "", :height => "45", :src => "http://content.themat.com/site_files/sponsorlogos/NYULMC_logo.jpg", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_5", :width => "111"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong NYU Langone Medical Center
            %br
              One of the nation's premier centers for excellence in healthcare, biomedical research, and medical education
              %br
                %a{:href => "http://www.med.nyu.edu/", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.tanita.com/en/", :target => "_BLANK"}
              %img{:alt => "", :height => "31", :src => "http://content.themat.com/site_files/sponsorlogos/TANITA.png", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_6", :width => "125"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong Tanita Scales
            %br
              Use PROMO CODE: USAWMEMBER for discounts on select items
              %br
                %a{:href => "http://www.tanita.com/en/", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.libertymutual.com/usawrestling?MM_webID=0000016678&amp;cmpgncde=2096&amp;keyCode=ICMUSHB0&amp;src=aff_1sw_m_0120335_usawrestling", :target => "_BLANK"}
              %img{:alt => "", :height => "45", :src => "http://content.themat.com/site_files/sponsorlogos/Liberty_mutal_logo.jpg", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_7", :width => "174"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong Liberty Mutual Insurance
            %br
              %strong Exclusive Offer on Auto and Home Insurance
              %br
                Get quality protection for your auto and home. Liberty Mutual is pleased to offer USA Wrestling members special savings and personalized coverage.Call 1-800-524-9400. Please mention client # 120335. Discounts and savings are available where state laws and regulations allow, and may vary by state.
          %p
            USA Wrestling is also a partner of the Liberty Mutual Insurance Play Positive™ program which supports volunteer youth sports coaches and parents who help our children succeed both on and off the mat. Visit
            %a{:href => "https://play-positive.libertymutual.com?src=cm-dtxt-brd-usw-pp1408101320&amp;utm_source=usaw&amp;utm_medium=pg&amp;utm_term=2014&amp;utm_content=pplogo&amp;utm_campaign=pp", :target => "_BLANK"} PlayPositive.com/Wrestling
            for more information.
            %br
              %a{:href => "http://www.libertymutual.com/usawrestling?MM_webID=0000016678&amp;cmpgncde=2096&amp;keyCode=ICMUSHB0&amp;src=aff_1sw_m_0120335_usawrestling", :target => "_BLANK"}
                %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.trackwrestling.com/", :target => "_BLANK"}
              %img{:alt => "", :height => "45", :src => "http://content.themat.com/site_files/sponsorlogos/trackwrestlinglogo.jpg", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_8", :width => "138"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong Trackwrestling.com
            %br
              Official tournament software and scoreclock provider of USA Wrestling.
              %br
                %a{:href => "http://www.trackwrestling.com/", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.musclepharm.com/", :target => "_BLANK"}
              %img{:alt => "", :src => "http://content.themat.com/site_files/sponsorlogos/MusclePharm-logo.png", :style => "border-width: 0px; border-style: solid;"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong MusclePharm
            %br
              MusclePharm® is a leading international, award-winning sports nutrition company offering vitamins and nutritional supplements. The comprehensive lines of clinically-proven, safe and effective nutritional supplements are developed through a six-stage research process that utilizes the expertise of leading nutritional scientists, doctors and universities.
              %br
                %a{:href => "http://www.musclepharm.com", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.matguardusa.com/", :target => "_BLANK"}
              %img{:alt => "", :height => "50", :src => "http://content.themat.com/site_files/sponsorlogos/matguard-50.png", :style => "border-width: 0px; border-style: solid;", "v:shapes" => "Picture_x0020_10", :width => "47"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong Matguard USA
            %br
              MATGUARD is an innovative healthcare company focused on bringing efficacious and beneficial products to the sports community including schools, universities, gyms and health clubs. Our goal is to provide the high-quality, easy-to-use, affordable products while playing an integral role in educating athletes, coaches and trainers on how to protect against infectious diseases and equipment cross-contamination thereby reducing the affects of bacteria on people involved in sports.
              %br
                %a{:href => "http://www.matguardusa.com/", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.drinko4oxygen.com/", :target => "_BLANK"}
              %img{:alt => "", :height => "50", :src => "http://content.themat.com/site_files/sponsorlogos/blue04.jpg"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong BLUE 04
            %br
              HYDRATION OF CHAMPIONS: The way nature intended; Oxygen, Water and Minerals
              %br
                %a{:href => "http://www.drinko4oxygen.com/", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.flipswrestling.com/", :target => "_BLANK"}
              %img{:alt => "", :height => "50", :src => "http://content.themat.com/site_files/sponsorlogos/FlipsLogo.jpg", :style => "border-width: 0px; border-style: solid;"}/
        %td{:style => "width: 412.5pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p
            %strong FlipsWrestling
            %br
              FlipsWrestling is a lifestyle brand for the toughest competitors on the planet.  It offers innovative headphones/speakers and select clothing to wrestlers and the wrestling community.  More information about FlipsWrestling can be found on www.flipswrestling.com - the only place where a piece of each headphone sale goes back to the wrestling community.
              %br
                %a{:href => "http://www.flipswrestling.com", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]
      %tr{:style => "height: 63.75pt; width: 100%;"}
        %td{:style => "width: 150pt; padding: 3.75pt; height: 63.75pt;", :valign => "top"}
          %p{:style => "text-align: center;"}
            %a{:href => "http://www.united.com/usoc", :target => "_BLANK"}
              %img{:alt => "", :height => "31", :src => "http://content.themat.com/site_files/sponsorlogos/UnitedLogo.jpg", :style => "border-width: 0px; border-style: solid;"}/
        %td{:style => "width: 175px; padding: 3.75pt; height: 31px;", :valign => "top"}
          %p
            %strong United Airlines
            %br
              Proud to Fly Team USA. United has flown thousands of athletes to training events, national and international competitions and Olympic celebrations around the world.
              %br
                %a{:href => "http://www.united.com/usoc", :target => "_BLANK"}
                  %strong [Visit Sponsor Website]