@import 'mixins';
@import 'colors';

.bio-header {
  @include clearfix();
  border: 1px solid $offwhite;
  padding: 2%;
  background-color: $aliceblue;
  margin-top:10px;

  .round-image{
    float:left;
    margin-right:20px;
  }

  .name{
    margin-top:30px;
    font-weight:bold;
  }

  .title{
    font-style: italic;
  }

}