@import 'mixins';

#nav{
  #nav-toggle { 
    @include desktop { display:none; }
    position: absolute; 
    right: 20px; 
    top: 10px; 
    height: 30px; 
    width:35px;
  }
  #nav-toggle { cursor: pointer; }
  #nav-toggle span { top: 12px; }
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    display: block;
    content: '';
  }
  #nav-toggle span:before {
    top: -10px; 
  }
  #nav-toggle span:after {
    bottom: -10px;
  }

  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  &.active{
    #nav-toggle span {
    background-color: transparent;
    }
    #nav-toggle span:before, #nav-toggle span:after {
      top: 0;
    }
    #nav-toggle span:before {
      transform: rotate(45deg);
    }
    #nav-toggle span:after {
      transform: rotate(-45deg);
    }
  }
}