@import 'colors';
@import 'mixins';

html{height:100%;}
body{
  height:100%;
  font-family: 'Roboto', sans-serif;
  background-color: #F1F5F7;
  background: asset-url('usa-wrestling-wordmark-transparent-dark.png') 340px 0;
  @include clearfix();
}
a{
  text-decoration: none;
  color: #fff;
}
#content{
  padding:0 20px;
  min-width: 320px;
  min-height:800px;
  background-color: #fff;
  @include desktop { 
    padding: 0 2%;
    width: 66%;
    float: left;
    min-height:800px;
    @include box-shadow();
    border-left:1px solid $offwhite;
    border-right:1px solid $offwhite;
  }
}

h3 {
  padding-top: 20px;
  margin: 0;
}
