// TODO: move these to colors.scss
$black: #0D090A;
$bluegrey: #09436F;
$bluegrey-light-accent: #1D75F2;
$bluegrey-dark-accent: #09376F;
$pink: #ee1df2;
$white: #CDCDCD;
$offwhite: #DFE4E6;
$aliceblue: #F0F8FF;
